
<md-toolbar class="md-accent">
  <h1 class="md-toolbar-tools">


    <span flex>
      <span class="font-sm">User: </span>
      <span class="light font-xxl">
        {{homeCtrl.dataModel.user.username || 'Angular Socket IO Chat'}}
      </span>

    </span>

    <!-- ADD ROOM NAME TEXT FIELD -->
    <span>
    <md-text-float label="Room Name" ng-model="homeCtrl.newRoom"
        ng-show="homeCtrl.showCreateRoomPanel"
        md-theme="white" class="md-fab"
        xyz-enter-pressed="homeCtrl.addRoom(homeCtrl.newRoom)"
        ></md-text-float>
    </span>

    <!-- ADD ROOM BUTTON CONFIRM -->
    <span ng-show="homeCtrl.showCreateRoomPanel">
      <md-button class="md-fab md-primary " aria-label="addroom"
                 style="display: inline-block; float:left"
                 ng-click="homeCtrl.addRoom(homeCtrl.newRoom)"
                 ng-disabled="!homeCtrl.newRoom">
        <md-tooltip>
          Confirm
        </md-tooltip>
        <i class="fa fa-check"></i>
      </md-button>
    </span>

    <!-- ADD ROOM BUTTON CANCEL -->
    <span ng-show="homeCtrl.showCreateRoomPanel">
      <md-button class="md-fab md-warn md-raised" aria-label="addroom"
        style="display: inline-block; float:left"
        ng-click="homeCtrl.toggleAddRoomControls(false)">
        <md-tooltip>
          Cancel
        </md-tooltip>
        <i class="fa fa-times"></i>
      </md-button>
    </span>

    <!-- ADD ROOM SHOW BUTTON -->
    <span ng-hide="homeCtrl.showCreateRoomPanel">
      <md-button class="md-fab  md-accent  md-hue-1" aria-label="addroom"
        style="display: inline-block; float:left"
        ng-click="homeCtrl.toggleAddRoomControls(true)"
        >
        <md-tooltip>
          Add Room
        </md-tooltip>
        <i class="fa fa-plus"></i>
      </md-button>
    </span>

    <!-- LOGOUT -->
    <span ng-hide="homeCtrl.showCreateRoomPanel">
      <md-button class="md-fab md-accent" aria-label="refresh"
        ng-click="homeCtrl.logout()">
        <md-tooltip>
          Logout
        </md-tooltip>
        <i class="fa fa-sign-out"></i>
      </md-button>
    </span>


  </h1>
</md-toolbar>


  <md-tabs class="md-accent md-hue-3">

    <md-tab ng-repeat="tab in homeCtrl.dataModel.rooms"
            md-on-select="homeCtrl.changeRoom(tab)"
            md-active="homeCtrl.activeRoom.uid === tab.uid"
            ng-disabled="false"
            label="{{tab.name}}">
    </md-tab>

  </md-tabs>


<div layout="row" layout-margin layout-padding>

  <!-- USER LIST -->
  <div flex="30">
    <md-card>
     <md-toolbar md-theme="cyan">
        <h1 class="md-toolbar-tools" >
          <span flex>
            Users
          </span>

          <md-button class="md-fab md-accent" aria-label="refresh"
                     ng-click="homeCtrl.leaveRoom()">
            <md-tooltip>
              Quit Room
            </md-tooltip>
            <i class="fa fa-times"></i>
          </md-button>
        </h1>
      </md-toolbar>

     <!-- <md-button class="md-raised" ng-click="homeCtrl.leaveRoom()">Leave Room</md-button> -->

      <!-- <li ng-repeat="user in homeCtrl.session.users"
        ng-hide="user.username === homeCtrl.dataModel.user.username"><small>{{user.username}}</small></li> -->
      <md-list>
        <md-item ng-repeat="user in homeCtrl.session.users">
          <md-item-content>
            <div  class="md-tile-content light font-l"
                  ng-class="{'bold': user.username === homeCtrl.dataModel.user.username}">
                <!-- <img ng-src="{{item.face}}" class="face" alt="{{item.who}}"> -->
               {{$index+1}}. {{user.username}}
            </div>
          </md-item-content>
           <md-divider></md-divider>
        </md-item>
      </md-list>
    </md-card>

    <!-- <li ng-repeat="user in homeCtrl.session.users"><small>{{user.username}}</small></li> -->

  </div>


  <div flex>

    <!-- CHAT MESSAGE -->
    <md-card>
      <div ng-show="homeCtrl.activeRoom" class="chat">
        <div ng-repeat="msg in homeCtrl.session.messages track by $index">
          <small class="chat-message-row">
            <span class="bold font-l"
              ng-class="{'chat-archived-message': msg.archived}"
              >{{msg.author.username}}</span>
            <span class="chat-timestamp"
              ng-class="{'chat-archived-message': msg.archived}"
              ><em>@ {{msg.timestamp | date:'HH:mm:ss'}}</em></span>
          </small>: <!-- &#8594; -->
          <div class="chat-message"
            ng-class="{
              'chat-leave-action': msg.type === 'leave-action',
              'chat-enter-action': msg.type === 'enter-action',
              'chat-archived-message': msg.archived
            }">{{msg.message}}</div><br/>
        </div>
      </div>

      <section layout="row" layout-sm="column" layout-align="center center"
                ng-show="homeCtrl.activeRoom">

        <md-text-float label="Write your message" md-theme="cyan"
           ng-model="homeCtrl.nextMessage" xyz-enter-pressed="homeCtrl.sendMessage()"></md-text-float>


        <md-button class="md-fab md-accent" aria-label="addroom"
          style="display: inline-block; float:left"
           ng-click="homeCtrl.sendMessage()">
            <md-tooltip>
              Send Message
            </md-tooltip>
            <i class="fa fa-paper-plane-o"></i>

          </md-button>

      </section>
    </md-card>
  </div>
</div>



  <!-- SERVER STATUS -->
  <md-button class="md-fab md-fab-bottom-right"
    aria-label="Server Status"
    ng-class="{
      'md-warn' : homeCtrl.socket.error || !homeCtrl.socket.connected,
      'md-accent' : homeCtrl.socket.connecting,
      'md-primary' : homeCtrl.socket.connected
    }">
      <md-tooltip>
        Server Status
      </md-tooltip>
      <i class="fa fa-cloud"></i>
  </md-button>
  <!--
  <span class="connection-status" ng-class="{
        red: homeCtrl.socket.error || !homeCtrl.socket.connected,
        yellow: homeCtrl.socket.connecting,
        green: homeCtrl.socket.connected
      }" >&nbsp;
  </span> -->


<!-- <div class="header">
  <div class="header-logo">LOGO</div>
  <div class="header-user-box">
    <div class="inline-block">logged as: {{homeCtrl.dataModel.user.username}}</div>
    <button ng-click="homeCtrl.logout()"
      class="inline-block">logout</button>
    <span class="connection-status" ng-class="{
        red: homeCtrl.socket.error || !homeCtrl.socket.connected,
        yellow: homeCtrl.socket.connecting,
        green: homeCtrl.socket.connected
      }">&nbsp;
      <span>
  </div>
</div> -->

<!-- <div class="rooms-static">
  <input type="text" ng-model="homeCtrl.newRoom" xyz-enter-pressed="homeCtrl.addRoom(homeCtrl.newRoom)">
  <button ng-click="homeCtrl.addRoom(homeCtrl.newRoom)">Add Rooms+</button>
</div> -->

<!-- <div class="rooms">
  <ul>
    <li ng-repeat="room in homeCtrl.dataModel.rooms"
      ng-click="homeCtrl.changeRoom(room)"
      ng-class="{
        'active-room': room === homeCtrl.activeRoom
      }"><a href="">{{room.name}}</a>
    </li>
  </ul>
</div> -->

<!-- <div class="rooms" ng-show="homeCtrl.activeRoom">
  <ul>
    <li><button ng-click="homeCtrl.leaveRoom()">Leave Room</button> </li>
    <li ng-repeat="user in homeCtrl.session.users"
      ng-hide="user.username === homeCtrl.dataModel.user.username"><small>{{user.username}}</small></li>

  </ul>
</div> -->
<br>
<br>
<br>
<br>
<!--
<div ng-show="homeCtrl.activeRoom">
  <div ng-repeat="msg in homeCtrl.session.messages track by $index">
    <small class="chat-message-row">
      <span class="chat-timestamp"
        ng-class="{'chat-archived-message': msg.archived}"
        >[{{msg.timestamp | date:'HH:mm:ss'}}]</span>
      <span class="chat-author"
        ng-class="{'chat-archived-message': msg.archived}"
        >[{{msg.author.username}}]</span>
    </small> &#8594;
    <div class="chat-message"
      ng-class="{
        'chat-leave-action': msg.type === 'leave-action',
        'chat-enter-action': msg.type === 'enter-action',
        'chat-archived-message': msg.archived
      }">{{msg.message}}</div><br/>
  </div>
</div>
 -->

<!--
 <div class="input-row" ng-show="homeCtrl.activeRoom">
  <input type="text" class="input-chat" ng-model="homeCtrl.nextMessage" xyz-enter-pressed="homeCtrl.sendMessage()">

  <button class="chat-button" ng-click="homeCtrl.sendMessage()">&gt;</button>
</div>
 -->
